<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Reg" verbose="1" >
    <test name="Reg" >
        <groups>
            <run>
                <include name="web"/>
            </run>
        </groups>

        <classes>
            <class name="tests.LoginTests" />
            <class name="tests.AddNewBoardTests" />
            <class name="tests.DeleteBoard"/>
            <class name="tests.ChangeAvatarTest"/>
        </classes>
    </test>


</suite>
